<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<h2>Planete : Terre</h2>

<div class="margin">
  <img class="map" src="https://cdn.pixabay.com/photo/2016/04/24/04/53/globe-1348777_960_720.png" alt="Planete" />
  <br />
  <br />
  <div class="row">
    <div class="col-6">
      <img class="robot" src="assets/robot1.png" alt="robot" />
    </div>
    <div class="col-6">
      <p>
        Nom : Planète Terre <br/>
        Age : 4,54 millards d'années <br/>
        Superficie : 510,1 M km² <br/>
        Population : Humains / Animaux / Végétaux <br/>
        Continents : 7 <br/>
        Océans : 5 <br/>
        Polution : Critique
      </p>
      <button type="submit" class="btn btn-dark btn-lg"><a [routerLink]="['/Spacemap']">Montre moi autre chose</a></button>
      <br/>
      <button class="valid" type="submit" class="btn btn-dark btn-lg">J'achète !</button>
    </div>
  </div>
</div>