#info {
	position: absolute;
	top: 15%;
	width: 100%;
	text-align: center;
    display:block;
    color: white;
}


.description{
    color:aliceblue;
    position: absolute;
    right: 10%;
    top:40%;
    border-top: 1px solid white;
    text-align: end
}

li{
    color: white;
}

ul{
    list-style: none;
}

p{
    font-size: 120%;
}
