li{
    color: white;
    margin-bottom: 1%;
}

ul{
    list-style: none;
}

#renderCanvas{
    margin-top: -8%;
}

.informations{
    margin-top: -30%;
    margin-left: 60%;
}

.gif{
    margin-top: -60%;
    margin-left: 48%;
}

.therob{
    height: 65%;
    width: 300px;
}