<h2>The SpaceMap</h2>
<h3>Click on the planet of your choice to get more information about it.</h3>

<div class="margin">
  <div class="container">
    <div class="row">
      <div class="col-4"><img class="img_planete saturne" src="assets/saturne.png"/></div>
      <div class="col-4"><img class="img_planete uranus" src="assets/uranus.png"/></div>
      <div class="col-4"><a [routerLink]="['/Planete/venus']"><img class="img_planete venus" src="assets/venus.png"/></a></div>
    </div>
    <div class="row">
      <div class="col-4"><a [routerLink]="['/Planete/moon']"><img class="img_planete lune" src="assets/lune.png"/></a></div>
      <div class="col-4"><a [routerLink]="['/Planete/sun']"><img class="img_planete soleil" src="assets/soleil.png" /></a></div>
      <div class="col-4"><a [routerLink]="['/Planete/earth']"><img class="img_planete terre" src="assets/terre.png"/></a></div>
    </div>
    <div class="row">
      <div class="col-4"><a [routerLink]="['/Planete/mercure']"><img class="img_planete mercure" src="assets/mercure.png"/></a></div>
      <div class="col-4"><a [routerLink]="['/Planete/mars']"><img class="img_planete mars" src="assets/mars.png"/></a></div>
      <div class="col-4"><img class="img_planete sanguine" src="assets/sanguine.png"/></div>
    </div>
  </div>