p{
    color: white;
    font-size: 130%;
}

h2{
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
}

a{
	color: white;
}

a:hover{
	color: white;
}

.img_planete{
    height: 200px;
    width: 200px;
}

.saturne{
    position: relative;
    right: 200%;
    height: 300px;
    width: 300px;
}

.uranus{
    position: relative;
    left: 50%;
    top: 20%;
}

.venus{
    position: relative;
    left: 150%;
}

.lune{
    position: relative;
    right: 30%;
    bottom: 40%;
    height: 150px;
    width: 150px;
}

.soleil{
    position: relative;
    right: 40%;
    bottom: 20%;
    height: 350px;
    width: 350px;
}

.terre{
    position: relative;
    left: 150%;
    top: 10%;
}

.mercure{
    position: relative;
    right: 180%;
    bottom: 120%;
}

.mars{
    position: relative;
    right: 120%;
    bottom : 50%;
}

.sanguine{
    position: relative;
    left: 20%;
    bottom: 40%;
}

/* Smartphone (col-xs)*/
@media screen and (min-width: 0px) and (max-width: 767px){ 
    .margin{
        margin-left: 1%;
        margin-right: 1%;
    }
    .map{
        height: 100%;
        width: 100%;
    }
    .robot{
        height: 200px;
        width: 150px;
    }
    p{
        font-size: 100%;
        margin-top: 1%;
    }
}

/* Tablette (col-sm)*/
@media screen and (min-width: 768px) and (max-width: 991px){ 
    .margin{
        margin-left: 3%;
        margin-right: 3%;    
    }
    .map{
        height: 100%;
        width: 100%;
    }
    .robot{
        height: 300px;
        width: 250px;
        margin-right: 10%;
    }
    p{
        font-size: 130%;
        margin-top: 1%;
        margin-left: 30%;
    }
}
  
/* Petit Ecran (col-md)*/
@media screen and (min-width: 992px) and (max-width: 1199px){ 
    .margin{
        margin-left: 15%;
        margin-right: 15%;
        justify-content: center;
    }
}
  
/* Grand écran (col-lg)*/
@media screen and (min-width: 1200px){ 
    .margin{
        margin-left: 20%;
        margin-right: 20%;
    }
    .row{
        margin-left: 18%;
        margin-right: 18%;
    }
    .robot{
        height: 350px;
        width: 350px;
    }
}