ul{
    list-style: none;
}

.icone{
    height: 15px;
    width: 15px;
    margin-bottom: 5px;
    margin-right: 4px;
}

a{
    color: black;
}

a:hover{
    color: rebeccapurple;
    font-weight: bold;
}

#nav{
    color: whitesmoke;
    font-weight: bold;
}