<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">IMMOSPACE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a [routerLink]="['/Home']" class="nav-link"> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/Robot']" class="nav-link"> Agent's choice </a>
      </li>
      <li class="nav-item">
          <a [routerLink]="['/Spacemap']" class="nav-link"> SpaceMap </a>
      </li>
      <li class="nav-item">
          <a [routerLink]="['/Planete']" class="nav-link"> Planet </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Contact
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"><a href="https://www.linkedin.com/in/quentin-moreau1/"><img src="assets/linkedin.png" class="icone">Quentin Moreau</a></a>
          <a class="dropdown-item"><a href="https://www.linkedin.com/in/magalie-mirloup/"><img src="assets/linkedin.png" class="icone">Magalie Mirloup</a></a>
          <a class="dropdown-item"><a href="https://www.linkedin.com/in/brandon-rabour/"><img src="assets/linkedin.png" class="icone">Brandon Rabour</a></a>
          <a class="dropdown-item"><a href="https://www.linkedin.com/in/aur%C3%A9lien-grenet/"><img src="assets/linkedin.png" class="icone">Aurélien Grenet</a></a>
        </div>
      </li>
    </ul>
  </div>
</nav>

