<h1>Formulaire d'achat</h1>

<br/><br/><br/><br/>
<!-- Premier critère -->
<div class="row">
  <div class="col-6">
      <label>Type de système :</label>
  </div>
  <div class="col-6">
    <select class="form-control">
      <option>Système Solaire</option>
      <option>Système ...</option>
      <option>Système ...</option>
    </select>
  </div>
</div>

<br/>

<!-- Deuxième critère -->
<div class="row">
  <div class="col-6">
      <label>Taille de la planète :</label>
  </div>
  <div class="col-6">
      <input type="text" class="form-control" aria-describedby="emailHelp"placeholder="Entrez la superficie en km2">
  </div>
</div>
<br/>

<!-- Troisième critère -->
<div class="row">
  <div class="col-6">
      <label>Température Ambiante :</label>
  </div>
  <div class="col-6">
      <input type="text" class="form-control" placeholder="Température en degrés Celcius">
  </div>
</div>
<br/>

<!-- Quatrième critère -->
<div class="row">
  <div class="col-6">
      <label>Position Galactique :</label>
  </div>
  <div class="col-6">
      <input type="text" class="form-control" placeholder="Entrez les coordonnées du système souhaité">
  </div>
</div>
<br/>

<!-- Cinquième critère -->
<div class="row">
  <div class="col-6">
      <label>Prix :</label>
  </div>
  <div class="col-6">
      <select class="form-control">
          <option>100-500 crédits</option>
          <option>501-2000 crédits</option>
          <option>2001-5000 crédits</option>
          <option>5001-10000 crédits</option>
          <option>+10000 crédits</option>
        </select>
  </div>
</div>

<br/>
<div class="row">
	<div class="col-6">
		<button type="submit" class="btn btn-dark btn-lg bouton3"><a [routerLink]="['/Home']">Retour</a></button>
	</div>
	<div class="col-6">
		<button type="submit" class="btn btn-dark btn-lg bouton3"><a [routerLink]="['/Robot']">Valider</a></button>
	</div>
























