<div class="center">
<h1>Purshase Form</h1>

<br/><br/><br/><br/>
<!-- Premier critère -->
<div class="row">
  <div class="col-6">
      <label>System type :</label>
  </div>
  <div class="col-6">
    <select class="form-control">
      <option>Solar System</option>
      <option>... System</option>
      <option>... System</option>
    </select>
  </div>
</div>

<br/>

<!-- Deuxième critère -->
<div class="row">
  <div class="col-6">
      <label>Size of the planet :</label>
  </div>
  <div class="col-6">
      <input type="text" class="form-control" aria-describedby="emailHelp"placeholder="Enter the area in km2">
  </div>
</div>
<br/>

<!-- Troisième critère -->
<div class="row">
  <div class="col-6">
      <label>Ambiant temperature :</label>
  </div>
  <div class="col-6">
      <input type="text" class="form-control" placeholder="Temperature in Celsius Degres">
  </div>
</div>
<br/>

<!-- Quatrième critère -->
<div class="row">
  <div class="col-6">
      <label>Galactic position</label>
  </div>
  <div class="col-6">
      <input type="text" class="form-control" placeholder="Enter the coordinates of the desired system">
  </div>
</div>
<br/>

<!-- Cinquième critère -->
<div class="row">
  <div class="col-6">
      <label>Price :</label>
  </div>
  <div class="col-6">
      <select class="form-control">
          <option>100-500 credits</option>
          <option>501-2000 credits</option>
          <option>2001-5000 credits</option>
          <option>5001-10000 credits</option>
          <option>+10000 credits</option>
        </select>
  </div>
</div>

<br/>
<div class="row">
	<div class="col-6">
		<a [routerLink]="['/Home']"><button type="submit" class="btn btn-dark btn-lg bouton3">Return</button></a>
	</div>
	<div class="col-6">
		<a [routerLink]="['/Robot']"><button type="submit" class="btn btn-dark btn-lg bouton3">Validate</button></a>
	</div>
</div>























