<h1>Formulaire de location</h1>

<br/><br/><br/><br/>
<!-- Premier critère -->
<div class="row">
  <div class="col-6">
      <label>Type de système :</label>
  </div>
  <div class="col-6">
    <select class="form-control">
      <option>Système Solaire</option>
      <option>Système ...</option>
      <option>Système ...</option>
    </select>
  </div>
</div>

<br/>

<!-- Deuxième critère -->
<div class="row">
  <div class="col-6">
      <label>Taille de la planète :</label>
  </div>
  <div class="col-6">
      <input type="text" class="form-control" aria-describedby="emailHelp"placeholder="Entrez la superficie en km2">
  </div>
</div>
<br/>

<!-- Troisième critère -->
<div class="row">
  <div class="col-6">
      <label>Température Ambiante :</label>
  </div>
  <div class="col-6">
      <input type="text" class="form-control" placeholder="Température en degrés Celcius">
  </div>
</div>
<br/>

<!-- Quatrième critère -->
<div class="row">
  <div class="col-6">
      <label>Position Galactique :</label>
  </div>
  <div class="col-6">
      <input type="text" class="form-control" placeholder="Entrez les coordonnées du système souhaité">
  </div>
</div>
<br/>

<!-- Cinquième critère -->
<div class="row">
  <div class="col-6">
      <label>Prix mensuel :</label>
  </div>
  <div class="col-6">
      <select class="form-control">
          <option>10-50 crédits mensuel</option>
          <option>51-200 crédits mensuel</option>
          <option>201-500 crédits mensuel</option>
          <option>501-1000 crédits mensuel</option>
          <option>+1000 crédits mensuel</option>
        </select>
  </div>
</div>

<br/>
<div class="row">
	<div class="col-6">
		<a [routerLink]="['/Home']"><button type="submit" class="btn btn-dark btn-lg bouton3">Retour</button></a>
	</div>
	<div class="col-6">
		<a [routerLink]="['/Robot']"><button type="submit" class="btn btn-dark btn-lg bouton3">Valider</button></a>
	</div>
























