/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("assets/back.jpg");
    background-size: cover;
}

@font-face{
    font-family: "Space";
    src: url('assets/paladins.ttf');
}

@font-face{
    font-family: "Space2";
    src: url('assets/CasanovaScotia.otf');
}

p, li{
    font-family: "Space2";
}

h1, h2, h3{
    color: white;
    font-family: "Space";
}

h1{
	font-size: 300%;
}

a{
	color: white;
}

a:hover{
	color: white;
}

p{
    color: white;
    font-size: 130%;
}