.name_robot1, .name_robot2, .name_robot3, .name_robot4{
    color: white;
    font-size: 190%;
    text-align: center;
}

a{
    flex-shrink: 0;
    flex-grow: 0;
}


.name_robot2, a{
    text-decoration: none;
}

h2{
    color: white;
    margin-top: 2%;
}

h3{
    color: white;
    margin-top: 2%;
    font-size: 160%;
}

a{
	color: white;
}

a:hover{
	color: white;
}

#image:hover{
opacity: 1;
z-index: 6;
}
