<h2>Real estate agent choice</h2>
<h3>Here, you can choose the real estate agent who will accompany you in your purchase.</h3>
<br>
<div class="row">

    <a [routerLink]="['/Spacemap']" class="col-12 col-lg-3 robotap">
        <img src="assets/robot_1.png" alt="photo" class="col-12" />
        <br>
        <p class="presrobot">Specialist of cold and distant planets, I am a very good negotiator and I can you get
            options at very good prices.</p><br><br/>
        <p class="name_robot col-12">Bender</p>
    </a>

    <a [routerLink]="['/Spacemap']" class="col-12 col-lg-3 robotap">
        <img src="assets/robot_2.png" alt="photo" class="col-12" />
        <br>
        <p class="presrobot">I am specialized in long term rentals or with an option to buy. I can also accompany
            you for life-time purchases</p><br><br/>
        <p class="name_robot col-12">Oscar</p>
    </a>

    <a [routerLink]="['/Spacemap']" class="col-12 col-lg-3 robotap">
        <img src="assets/robot_3.png" alt="photo" class="col-12" />
        <br>
        <p class="presrobot">I am the specialist of inhabited planets. I also work on planets near the sun where
            temperatures are unsustainable.</p><br>   
        <p class="name_robot col-12">Robotus</p>
    </a>

    <a [routerLink]="['/Spacemap']" class="col-12 col-lg-3 robotap">
        <img src="assets/robot_4.png" alt="photo" class="col-12" />
        <br>
        <p class="presrobot">I am an ecological in the soul, I know well the planets having a significant
            pollution and can negotiate for you a good price before depolluting.</p><br>
        <p class="name_robot col-12">Tod</p>
    </a>

</div>